html, body 
	{
	margin: 0;
	}

header 
	{
	background-color: #d9d9d9;
	padding: 45px;
	}

h1
	{
	 font: 50px Courier New, Monospace;
	 text-align: center;
	 text-transform: uppercase;
	 color: #ff8c66;
	 font-style: bold;
	}


.imagini 
	{
	background-color: black;
	padding: 35px;
	}

.center 
	{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	}

.qqw
	{
	padding: 115px;
	background-color: #d9d9d9;
	}

table {
  width:100%;
  margin: 20px;
}
table, th, td {
  border: 1px solid #00004d;
  border-collapse: collapse;
}
td {
  padding: 5px;
  text-align: left;
}
th{
	padding: 5px;
	text-align: left;
}
table#t01 td {
  background-color: #ff9f80;
  color: #733726;
}
table#t01 th {
  background-color: #00004d;
  color: #b32d00;
}


.info 
	{
	color: black;
	background-color: #ffb399;
	padding: 0;
	}

h2 {
	background-color: #000066;
	font-family: Andale Mono, monospace;
	font-size-adjust: 35px;
	color: #d9d9d9;
	margin: 0px 15px;
	padding: 15px;	
	}

p 
	{
		padding: 10px;
		margin: 0px;
	}

caption 
	{
		padding: 15px 0px 15px 0px;
		font-family: Andale Mono, monospace;
		font-size: 20px;
		font-weight: 600;
		color: #000066;
		border: solid #d9d9d9;
		border-spacing: 5px;
		border-radius: 150px;
	}